#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config CHEWIE
	tristate "\"Chewie\""
	default n
	---help---
		Enable the \"Chewie\"

if CHEWIE
config CHEWIE_PROGNAME
	string "Program name"
	default "chewie"
	depends on BUILD_LOADABLE
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config CHEWIE_PRIORITY
	int "Chewie task priority"
	default 100

config CHEWIE_STACKSIZE
	int "Chewie stack size"
	default 2048

config CHEWIE_NUM_OF_CHANNELS
	int "Num of channels"
	---help---
		4 is the only avilible value now.
	default 4

config CHEWIE_MOTOR_PWM_OUT_DEVICE_PATH_PREFIX
	string "PWM device path prefix"
	default "/dev/pwm_out_motor_"

config CHEWIE_PWM_FREQUENCY
	int "PWM frequency (Hz)"
	default 400

config CHEWIE_PWM_MIN_THROTTLE_PULSE_US
	int "min value of PWM in us"
	default 1000

config CHEWIE_PWM_MAX_THROTTLE_PLUSE_US
	int "max value of PWM in us"
	default 2000

config CHEWIE_PWM_ARMED_THROTTLE_PLUSE_US
	int "this value will setted to PWM in us when init(or armed)"
	default 900

endif
